@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

* {
  padding: 0;
  font-family: "Nunito", ui-sans-serif, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

body {
  overflow: hidden;
  background-color: #fff;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

header, #sidebar {
  padding-left: 30px;
  width: 300px;
  background-color: var(--sidebar-background);
}

#sidebar {
  min-height: 100vh;
  /* max-height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar-filters, .topic-lists {
  display: flex;
  flex-direction: column;
}

.sidebar-filters {
  max-width: 180px;
}

.list-topic {
  padding-top: 25px;
}

.topic-name {
  font-size: 1.2rem;
  font-weight: bold; 
}

.topic-name::before {
  content: '# ';
}

hr {
  margin: 10px 0;
}

.list-btn {
  padding: 2px 5px;
  color: var(--text-color);
  font-size: var(--font-md);
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.1s ease;
  border-radius: 6px;
}

.list-btn .icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  display: inline-block;
}

#custom-lists-section {
  margin-bottom: 50px;
}

#add-topic {
  font-size: 1rem;
  border: 1px solid var(--hover-bg);
  margin-bottom: 10px;
  background-color: rgba(112, 128, 144, 0.1);
  justify-content: center;

}

/* Hover effect */
.list-btn:hover {
  background-color: var(--hover-bg);
}

/* Active state (when clicked) */
.list-btn:active {
  background-color: var(--primary-dark);
  transform: scale(0.99);
}
